<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
    <!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="GitHub" value="https://nuget.pkg.github.com/alefcarlos/index.json" />
    </packageSources>
  <packageSourceCredentials>
    <GitHub>
        <add key="Username" value="alefcarlos" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvgO6zfQKzUiA8SxVZIXDEAAAAAACAAAAAAADZgAAwAAAABAAAABzF18yfXkpsLSj/0ZMIMbfAAAAAASAAACgAAAAEAAAAPRKuua9VmVr1mG2ELE2PwAwAAAAHDuUWYbYeWTxD46Q3FR74NoNdp2teYP/tLb9viSr9yLKo0KmRp2YT0f1m3hQiY0MFAAAAFfIKj55SIm/XI2iZF6WwKJXESIy" />
      </GitHub>
  </packageSourceCredentials>
</configuration> 