<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
    <!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="GitHub" value="https://nuget.pkg.github.com/alefcarlos/index.json" />
    </packageSources>
  <packageSourceCredentials>
    <GitHub>
        <add key="Username" value="alefcarlos" />
        <add key="cleartextpassword" value="4cd37a1e56f71c1a901580998d9d12389d86458f" />
      </GitHub>
  </packageSourceCredentials>
</configuration>